<footer class="site-footer">
  <div class="container rodape-flex">
    <div class="footer-logo-info">
      <div class="logo-footer">
        <img src="/assets/img/logo_gedal.png" alt="Logo Gedal Engenharia" />
        <div class="texto-logo">
          <p class="linha1">Excelência em engenharia elétrica</p>
          <p class="linha2">desde 1994.</p>
        </div>
      </div>
      <p class="copyright">© 2025 Gedal Engenharia. Todos os direitos reservados.</p>
    </div>

    <div class="footer-info">
      <h4>Informações Gerais</h4>
      <p>Endereço: Luziânia-GO, CEP 72814-040</p>
      <p>CNPJ: 00.267.366/0001-21</p>
      <p>Email: gedalengenharia.go@gmail.com</p>
      <p>Danilo: (61) 99257-3350</p>
      <p>Gustavo: (61) 99978-8854</p>
    </div>

    <div class="footer-links">
      <h4>Links Rápidos</h4>
      <ul>
        <li><a href="/pages/sobre.html">Sobre</a></li>
        <li><a href="/pages/servicos.html">Serviços</a></li>
        <li><a href="/pages/portfolio.html">Portfólio</a></li>
        <li><a href="/pages/contato.html">Contato</a></li>
      </ul>
      <div class="redes-sociais">
        <a href="https://www.instagram.com/sua_conta_instagram" target="_blank" aria-label="Instagram">
          <img src="/assets/icons/logo-intagram.png" alt="Instagram">
        </a>
        <a href="https://www.linkedin.com/in/sua_conta_linkedin" target="_blank" aria-label="LinkedIn">
          <img src="/assets/icons/logo-linkedin.png" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>
</footer>
